.container{
    padding-top: 4%;
	background-color: rgb(241, 255, 255);
    height: 100vh;
}
.image img{
    width: 40%;
    position: fixed;
    top: 10vh;
}
.buttons{
    position: fixed;
    top: 90%;
display: flex;
flex-direction: row;
gap: 20%;
margin-left: 10%;
}
.buttons button{
      height: 45px;
    width: 100px;
    border-radius: 8%;
}
.description{
    margin-left: 40%;
        margin-right: 6%;
}
.name{
font-size: 1.2rem;
	font-weight: bold;
	margin: 15px 0 10px 0;
}
p,span{
    margin: 20px 0px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}